/calcexit.o
/teste1
/teste1.o
/teste2
/teste2.o
/calcExitDecInc_mex.mexa64
/convergencia.pdf
/exit_chart.tar.gz
/exit_chart.zip
/exit_chart2.pdf
/mex_calc_exit.mexa64
/calc_exit_bits_checks.o
/genFuncs.o
/teste3
/teste3.o
/calc_exit_bits_checks.mexa64
/mex_calc_exit_comp.mexa64
/result1_20.mat
/result1_60.mat
/result21_40.mat
/result41_60.mat
/mex_calc_exit_comp_bit_exit.mexa64
