/Debug/
/.project
/genInputFile.o
/genfuncs.o
/geninputfile
/ldpcmpamenctrans
/ldpcmpamenctrans.o
/.cproject
/ldpcmpamdec
/make-gen
/make-ldpc
data/gen\.dat
data/pchk\.dat
data/pchkm\.dat
/makeldpc
/.directory
/libLdpc1.so
/analise_matriz_h.o
/encode_decode

generate/figura1\.pdf

generate/figura2\.pdf

generate/gen_1000_3000\.dat

generate/gen_2000_3000\.dat

generate/gen_20000_28000_c\.dat

generate/gen_21000_28000_c\.dat

generate/gen_30000_42000_c\.dat

generate/gen_30000_43000_c\.dat

generate/gen_30000_44000_c\.dat

generate/gen_4000_5000\.dat

generate/gen_50000_70000_c\.dat

generate/gen_50000_70000_m2\.dat

generate/gen_50000_70000_MM2\.dat

generate/gen_50000_70000_MM8_MM10\.dat

generate/gen_50000_70000_MM8\.dat

generate/gen_50000_73000_c\.dat

generate/gen_6000_8000_c\.dat

generate/gen_6000_8000\.dat

generate/octave-workspace

generate/pchkm_1000_3000\.dat

generate/pchkm_12000_17000_c\.dat

generate/pchkm_2000_3000\.dat

generate/pchkm_20000_28000_c\.dat

generate/pchkm_21000_28000_c\.dat

generate/pchkm_30000_42000_c\.dat

generate/pchkm_30000_43000_c\.dat

generate/pchkm_30000_44000_c\.dat

generate/pchkm_4000_5000\.dat

generate/pchkm_50000_70000_c\.dat

generate/pchkm_50000_70000_m2\.dat

generate/pchkm_50000_70000_MM2\.dat

generate/pchkm_50000_70000_MM8_MM10\.dat

generate/pchkm_50000_70000_MM8\.dat

generate/pchkm_50000_73000_c\.dat

generate/pchkm_6000_8000_c\.dat

generate/pchkm_6000_8000\.dat
/decode_teste
*.err
*.out
decode_teste
/saida.txt
/teste_read_matrix
/exit1_dec.o
/teste_exit1.o
/testeexit
/analise_matriz_h
